<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
       <add name="Attendance" connectionString="Server=localhost;Database=attendance;Uid=root;Pwd=Website1" providerName="MySql.Data.MysqlClient"/>
  <!--  <add name="Attendance" connectionString="Server=sql12.freemysqlhosting.net;Database=sql12284136;Uid=sql12284136;Pwd=ajWCERRaTf" providerName="MySql.Data.MysqlClient"/>-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>